# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

#Build
/build

# production
/dist

# IDE
.idea

# logs
npm-debug.log*

# misc
.DS_Store
