// =============================================================================
// SCREEN SIZES
// =============================================================================

// Screen sizes
// -----------------------------------------------------------------------------

$screen-xxxlarge:               1681px;
$screen-xxlarge:                1580px;
$screen-xlarge:                 1480px;
$screen-large:                  1200px;
$screen-medium:                 980px;
$screen-small:                  620px;
$screen-xsmall:                 360px;
$screen-xxsmall:                320px;

$screen-large-iPhone:           414px;
$screen-medium-iPhone:          375px;
