// =============================================================================
// CHECKOUT HEADER (Component)
// =============================================================================

.checkoutHeader {
    min-height: 0;
    text-align: center;
}

.checkoutHeader-content {
    @include grid-row;

    padding: spacing("single");
}

.checkoutHeader-heading {
    @include headingStyle("h1");

    color: inherit;
    margin-bottom: 0;
    word-wrap: break-word;
}

.checkoutHeader-link {
    display: flex;
    justify-content: center;
}
