// =============================================================================
// CHECKOUT HEADER (Component)
// =============================================================================
.checkoutHeader {
    background-color: color("whites", "bright") !important;
    border-bottom: 1px solid color("blacks") !important;
    min-height: 0 !important;
    text-align: center !important;

    @include breakpoint("small") {
        min-height: 0 !important;
    }

    @include breakpoint("medium") {
        text-align: center !important;
    }
}

.checkoutHeader-content {
    @include grid-row;

    padding: spacing("single");

    @include breakpoint("small") {
        padding: spacing("single") !important;
    }
}

.checkoutHeader-heading {
    @include headingStyle("h1");

    color: inherit;
    margin-bottom: 0;
    word-wrap: break-word;
}

.checkoutHeader-link {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;

    @include breakpoint("medium") {
        margin: 0;
        width: 100%;
    }
}
